{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='lib/js/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/leaflet.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Leaflet.Draw.Event.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/leaflet.draw.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Toolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Tooltip.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/GeometryUtil.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/LatLngUtil.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/LineUtil.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/Polygon.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/Polyline.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/TouchEvents.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/DrawToolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Feature.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.SimpleShape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Polyline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Marker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.CircleMarker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Polygon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Rectangle.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/EditToolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/EditToolbar.Edit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/EditToolbar.Delete.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Control.Draw.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Poly.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.SimpleShape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Marker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.CircleMarker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Rectangle.js') }}"></script>

<script src="{{ url_for('static', filename='lib/js/esri-leaflet.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/geobase.css') }}">
{% endblock %}
{% block title %}双犬·尺规{% endblock %}


{% block page_content %}
<div id="map"></div>

<form id="geoForm" method="post" target="geoCommitFrame" style="display: block;">
	<input type="text" name="geoId" value="" />
	<input type="text" name="geoType" value="" />
	<input type="text" name="geoCoordinate" value="" />
    <input type="text" name="geoEvent" value="" />
	<input id="geoCommit" type="submit" />
</form>
<iframe name="geoCommitFrame" style="display: none;"></iframe>
<script>
	geoForm = document.getElementById('geoForm');
	geoId = document.getElementsByName('geoId')[0];
	geoType = document.getElementsByName('geoType')[0];
	geoCoordinate = document.getElementsByName('geoCoordinate')[0];
    geoEvent = document.getElementsByName('geoEvent')[0];
	geoCommit = document.getElementById('geoCommit');

	ptId = 0;
	plId = 0;
	pgId = 0;

    var map = L.map('map').setView([30.24105142736931, 120.14077259673466], 12);
    var streetMap = L.layerGroup([L.tileLayer('http://tile-{s}.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    })]);
    var googleMap = L.layerGroup([L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&x={x}&y={y}&z={z}', {
        attribution: 'Map data &copy; 2015 <a href="https://www.google.com/permissions/geoguidelines.html">Google</a>'
    })]);
    var esriMap = L.layerGroup([L.esri.basemapLayer('Imagery')]);
    var mapBase = {
        '街道地图': streetMap,
        '卫星影像': googleMap,
        'ESRI HD': esriMap
    };
    map.addLayer(streetMap);
    drawnItems = L.featureGroup();
    L.control.layers(
    	{
	        '矢量地图': streetMap,
	        '卫星影像': googleMap,
            'ESRI HD': esriMap
	    },
	    {
	    	'绘制图层': drawnItems
	    },
	    {
	    	position: 'topright',
	    	collapsed: true
	    }
    ).addTo(map);

    // show point
    // L.marker([31.2358296784, 121.4659482490]).addTo(map);
    {% for pt_record in geom['point'] %}
        {% set pt = pt_record['geopt']['coordinates'] %}
        var pointLayer = L.marker([{{ pt[1] }}, {{ pt[0] }}]);
        pointLayer.pid = "{{ pt_record['ptid'] }}";
        ptId = {{ pt_record['ptid'] }} + 1;
        drawnItems.addLayer(pointLayer);
    {% endfor %}

    // show polyline
    var polylineOptions = {
        color: 'rgba(255,0,0,0.5)',
        weight: 6
    };
    {% for pl_record in geom['polyline'] %}
        var pl_record = [];
        {% for pl_point in pl_record['geopl']['coordinates'] %}
            pl_record.push([{{ pl_point[1] }}, {{ pl_point[0] }}]);
        {% endfor %}
        var polylineLayer = L.polyline(pl_record, polylineOptions);
        polylineLayer.pid = "{{ pl_record['plid'] }}";
        plId = {{ pl_record['plid'] }} + 1;
        drawnItems.addLayer(polylineLayer);
    {% endfor %}

    // show polygon
    // L.marker([31.2358296784, 121.4659482490]).addTo(map);
    var pgons = [];
    // geom['polygon']即为所有的polygon记录
    // pg即为单条polygon记录
    {% for pg_record in geom['polygon'] %}
        var pg_record = [];
        // pg_part即为polygon的部分(单个面)
        {% for pg_part in pg_record['geopg']['coordinates'] %}
            var pg_part = [];
                // pg_point即为不同组成部分的端点坐标列表
            {% for pg_point in pg_part %}
                pg_part.push([{{ pg_point[1] }}, {{ pg_point[0] }}]);
            {% endfor %}
            pg_record.push(pg_part);
        {% endfor %}
        pgons.push(pg_record);
        var polygonLayer = L.polygon(pg_record, {color: 'red'});
        polygonLayer.pid = "{{ pg_record['pgid'] }}";
        pgId = {{ pg_record['pgid'] }} + 1;
        drawnItems.addLayer(polygonLayer);
    {% endfor %}
    // map.fitBounds(polygons.getBounds());
    drawnItems.addTo(map);

    // 添加编辑条
    map.addControl(new L.Control.Draw({
    	draw: {
    		circlemarker: false,
    		rectangle: false,
    		circle: false,
            polygon: {
                allowIntersection: false,
                showArea: true
            }
        },
        edit: {
            featureGroup: drawnItems,
            poly: {
                allowIntersection : false
            }
        }
    }));

    // 创建要素
    map.on(L.Draw.Event.CREATED, function(event) {
        var layer = event.layer;
        geoEvent.value = 'CREATED';
        geoCommitPrepare(layer);
        geoForm.submit();
        drawnItems.addLayer(layer);
        console.log(layer.pid + geoType.value + ' summit.');
    });

    // 要素编辑
    map.on(L.Draw.Event.EDITED, function(event) {
        var layers = event.layers;
        geoEvent.value = 'EDITED';
        layers.eachLayer(function(layer) {
            geoCommitPrepare(layer);
            geoForm.submit();
            console.log(layer.pid + geoType.value + ' summit.');
        });
    });

    // 要素删除
    map.on(L.Draw.Event.DELETED, function(event) {
        var layers = event.layers;
        geoEvent.value = 'DELETED';
        layers.eachLayer(function(layer) {
            geoCommitPrepare(layer);
            geoForm.submit();
            console.log(layer.pid + geoType.value + ' summit.');
        });
    });

    function geoCommitPrepare(layer) {
    	if (layer instanceof L.Marker) {
    		if (layer.pid) {
    			geoId.value = layer.pid;
    		} else {
    			layer.pid = ptId;
    			geoId.value = ptId;
    			ptId += 1;
    		}
        	geoType.value = 'POINT';
        	var ptLatLng = layer.getLatLng();
        	geoCoordinate.value = [ptLatLng['lng'] + ' ' + ptLatLng['lat']];
        } else if (layer instanceof L.Polygon) {
        	if (layer.pid) {
    			geoId.value = layer.pid;
    		} else {
    			layer.pid = pgId;
    			geoId.value = pgId;
    			pgId += 1;
    		}
        	geoType.value = 'POLYGON';
        	var pgLatLngs = layer.getLatLngs()[0];
        	var pg_points = [];
        	for (var i = 0; i < pgLatLngs.length; i++) {
        		pg_points.push([pgLatLngs[i]['lng'] + ' ' + pgLatLngs[i]['lat']]);
        	}
        	pg_points.push([pgLatLngs[0]['lng'] + ' ' + pgLatLngs[0]['lat']])
        	geoCoordinate.value = pg_points;
        } else if (layer instanceof L.Polyline) {
        	if (layer.pid) {
    			geoId.value = layer.pid;
    		} else {
    			layer.pid = plId;
    			geoId.value = plId;
    			plId += 1;
    		}
        	geoType.value = 'LINESTRING';
        	var plLatLngs = layer.getLatLngs();
        	var pl_points = [];
        	for (var i = 0; i < plLatLngs.length; i++) {
        		pl_points.push([plLatLngs[i]['lng'] + ' ' + plLatLngs[i]['lat']]);
        	}
        	geoCoordinate.value = pl_points;
        }
    }
</script>
{% endblock %}