{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='lib/js/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/leaflet.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Leaflet.Draw.Event.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/leaflet.draw.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Toolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Tooltip.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/GeometryUtil.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/LatLngUtil.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/LineUtil.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/Polygon.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/Polyline.Intersect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/ext/TouchEvents.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/DrawToolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Feature.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.SimpleShape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Polyline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Marker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.CircleMarker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Polygon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/draw/handler/Draw.Rectangle.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/EditToolbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/EditToolbar.Edit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/EditToolbar.Delete.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/Control.Draw.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Poly.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.SimpleShape.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Marker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.CircleMarker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Circle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/leaflet-src/edit/handler/Edit.Rectangle.js') }}"></script>

<script src="{{ url_for('static', filename='lib/js/esri-leaflet.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/geoview.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/geobase.css') }}">
{% endblock %}
{% block title %}双犬·尺规{% endblock %}


{% block page_content %}
<div id="map"></div>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/geoMap.js') }}"></script>
<script>
    // 渲染已有要素
    geom_event = '';
	ptId = 0;
	plId = 0;
	pgId = 0;

    // show point
    // L.marker([31.2358296784, 121.4659482490]).addTo(map);
    {% for pt_record in geom['point'] %}
        {% set pt = pt_record['geopt']['coordinates'] %}
        var pointLayer = L.marker([{{ pt[1] }}, {{ pt[0] }}]);
        pointLayer.pid = "{{ pt_record['ptid'] }}";
        ptId = {{ pt_record['ptid'] }} + 1;
        drawnItems.addLayer(pointLayer);
    {% endfor %}

    // show polyline
    var polylineOptions = {
        color: 'rgba(255,0,0,0.5)',
        weight: 6
    };
    {% for pl_record in geom['polyline'] %}
        var pl_record = [];
        {% for pl_point in pl_record['geopl']['coordinates'] %}
            pl_record.push([{{ pl_point[1] }}, {{ pl_point[0] }}]);
        {% endfor %}
        var polylineLayer = L.polyline(pl_record, polylineOptions);
        polylineLayer.pid = "{{ pl_record['plid'] }}";
        plId = {{ pl_record['plid'] }} + 1;
        drawnItems.addLayer(polylineLayer);
    {% endfor %}

    // show polygon
    // L.marker([31.2358296784, 121.4659482490]).addTo(map);
    var pgons = [];
    // geom['polygon']即为所有的polygon记录
    // pg即为单条polygon记录
    {% for pg_record in geom['polygon'] %}
        var pg_record = [];
        // pg_part即为polygon的部分(单个面)
        {% for pg_part in pg_record['geopg']['coordinates'] %}
            var pg_part = [];
                // pg_point即为不同组成部分的端点坐标列表
            {% for pg_point in pg_part %}
                pg_part.push([{{ pg_point[1] }}, {{ pg_point[0] }}]);
            {% endfor %}
            pg_record.push(pg_part);
        {% endfor %}
        pgons.push(pg_record);
        var polygonLayer = L.polygon(pg_record, {color: 'red'});
        polygonLayer.pid = "{{ pg_record['pgid'] }}";
        pgId = {{ pg_record['pgid'] }} + 1;
        drawnItems.addLayer(polygonLayer);
    {% endfor %}
    // map.fitBounds(polygons.getBounds());
    drawnItems.addTo(map);
</script>
<script type="text/javascript">
    // 添加编辑条
    map.addControl(new L.Control.Draw({
        draw: {
            circlemarker: false,
            rectangle: false,
            circle: false,
            polygon: {
                allowIntersection: false,
                showArea: true
            }
        },
        edit: {
            featureGroup: drawnItems,
            poly: {
                allowIntersection : false
            }
        }
    }));

    $("a.leaflet-control-zoom-in:first").attr("title","放大");
    $("a.leaflet-control-zoom-out:first").attr("title","缩小");

    $(".leaflet-draw-draw-marker:first").attr("title","绘制点");
    $(".leaflet-draw-draw-polyline:first").attr("title","绘制线");
    L.drawLocal.draw.handlers.polyline.tooltip.start = '单击以绘制线端点';
    L.drawLocal.draw.handlers.polyline.tooltip.cont = '单击下一个点继续绘制线';
    L.drawLocal.draw.handlers.polyline.tooltip.end = '单击线段末端点完成线绘制';
    $(".leaflet-draw-draw-polygon:first").attr("title","绘制面");
    L.drawLocal.draw.handlers.polygon.tooltip.start = '单击以绘制面节点';
    L.drawLocal.draw.handlers.polygon.tooltip.cont = '单击下一个点继续绘制面';
    L.drawLocal.draw.handlers.polygon.tooltip.end = '单击面起始点以完成面绘制';
    $(".leaflet-draw-edit-edit:first").attr("title","编辑");
    $(".leaflet-draw-edit-remove:first").attr("title","删除");

    // 创建要素
    map.on(L.Draw.Event.CREATED, function(event) {
        var layer = event.layer;
        geom_event = 'CREATED';
        geoCommitPrepare(layer);
        drawnItems.addLayer(layer);
    });

    // 要素编辑
    map.on(L.Draw.Event.EDITED, function(event) {
        var layers = event.layers;
        geom_event = 'EDITED';
        layers.eachLayer(function(layer) {
            geoCommitPrepare(layer);
        });
    });

    // 要素删除
    map.on(L.Draw.Event.DELETED, function(event) {
        var layers = event.layers;
        geom_event = 'DELETED';
        layers.eachLayer(function(layer) {
            geoCommitPrepare(layer);
        });
    });

    map.on(L.Draw.Event.DRAWSTART, function(event) {
        // console.log('开始绘制');
        // console.log(event);
        var layerType = event.layerType;
        geoTypePanelAdd(layerType);

        $(".leaflet-draw-tooltip:first span:first").text('单击以绘制点');
        $("[title='Finish drawing']").text("完成");
        $("[title='Delete last point drawn']").text("删除上一节点");
        $("[title='Cancel drawing']").text("取消");
        $("[title='Finish drawing']").attr("title", "完成绘制");
        $("[title='Delete last point drawn']").attr("title", "删除上一个节点");
        $("[title='Cancel drawing']").attr("title", "取消绘制");
    });

    map.on(L.Draw.Event.DRAWSTOP, function(event) {
        var geoTypeCheckDiv = document.getElementsByClassName('geoTypeDiv');
        if (geoTypeCheckDiv[0]) {
            geoTypeCheckDiv[0].parentNode.removeChild(geoTypeCheckDiv[0]);
        }
    });

    map.on(L.Draw.Event.EDITSTART, function(event) {
        $("[title='Save changes']").text("保存");
        $("[title='Cancel editing, discards all changes']").text("取消");
        $("[title='Save changes']").attr("title", "保存编辑");
        $("[title='Cancel editing, discards all changes']").attr("title", "取消编辑");

        setTimeout(function () {
            $(".leaflet-draw-tooltip:first span:first").text("单击取消以取消操作");
            $(".leaflet-draw-tooltip:first span:last").text("拖动节点以编辑图层要素");
        }, 20);
    });

    map.on(L.Draw.Event.DELETESTART, function(event) {
        $("[title='Save changes']").text("删除");
        $("[title='Cancel editing, discards all changes']").text("取消");
        $("[title='Clear all layers']").text("删除全部");
        $("[title='Save changes']").attr("title", "删除单个要素");
        $("[title='Cancel editing, discards all changes']").attr("title", "取消删除");
        $("[title='Clear all layers']").attr("title", "删除全部图层");

        setTimeout(function () {
            $(".leaflet-draw-tooltip:first span:first").text("单击要素以删除");
        }, 10);
    });

    function geoCommitPrepare(layer) {
        var geom_type
        var geom_coordinate
        if (layer instanceof L.Marker) {
            if (typeof layer.pid === 'undefined') {
                layer.pid = ptId;
                ptId += 1;
            }
            geom_type = 'POINT';
            var ptLatLng = layer.getLatLng();
            geom_coordinate = [ptLatLng['lng'], ptLatLng['lat']];
        } else if (layer instanceof L.Polygon) {
            if (typeof layer.pid === 'undefined') {
                layer.pid = pgId;
                pgId += 1;
            }
            geom_type = 'POLYGON';
            var pgLatLngs = layer.getLatLngs()[0];
            var pg_points = [];
            for (var i = 0; i < pgLatLngs.length; i++) {
                pg_points.push([pgLatLngs[i]['lng'], pgLatLngs[i]['lat']]);
            }
            pg_points.push([pgLatLngs[0]['lng'], pgLatLngs[0]['lat']])
            geom_coordinate = pg_points;
        } else if (layer instanceof L.Polyline) {
            if (typeof layer.pid === 'undefined') {
                layer.pid = plId;
                plId += 1;
            }
            geom_type = 'LINESTRING';
            var plLatLngs = layer.getLatLngs();
            var pl_points = [];
            for (var i = 0; i < plLatLngs.length; i++) {
                pl_points.push([plLatLngs[i]['lng'], plLatLngs[i]['lat']]);
            }
            geom_coordinate = pl_points;
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/geo/{{ projectname }}",
            data:{
                geo_id: layer.pid,
                geo_type: geom_type,
                geo_coordinate: JSON.stringify(geom_coordinate),
                geo_event: geom_event,
            },
            success: function (data) {}
        })
    }
</script>
<script type="text/javascript">
    function geoTypePanelAdd(type) {
        if (type === 'marker') {type = 'point'}
        geoTypePanelRemove();
        var geoTypeCheckbox = L.control({
            position: 'bottomleft'
        });
        geoTypeCheckbox.onAdd = function (map) {
            var geoTypeCheckDiv = L.DomUtil.create('div', 'geoTypeDiv');
            typeList = {{ typedict|safe }};
            var keyList = Object.keys(typeList[type]);
            for (var i = 0; i < keyList.length; i++) {
                var geoDiv = document.createElement('div');
                geoDiv.setAttribute('class', 'geodiv');
                var geoInput = document.createElement('input');
                geoInput.setAttribute('type', 'radio');
                geoInput.setAttribute('class', 'geoType');
                geoInput.setAttribute('name', 'geoType');
                geoInput.setAttribute('id', 'geoType-' + keyList[i]);
                geoDiv.appendChild(geoInput);
                geoDiv.innerHTML += decodeURIComponent(escape(typeList[type][keyList[i]]));
                geoTypeCheckDiv.appendChild(geoDiv);
            }
            return geoTypeCheckDiv;
        };
        geoTypeCheckbox.addTo(map);
        document.getElementsByClassName('geoType')[0].checked = true;
    }
    function geoTypePanelRemove() {
        var geoTypeCheckDiv = document.getElementsByClassName('geoTypeDiv');
        if (geoTypeCheckDiv[0]) {
            geoTypeCheckDiv[0].parentNode.removeChild(geoTypeCheckDiv[0]);
        }
    }
</script>
{% endblock %}
