{% extends "quiz/quizbase.html" %}

{% block title %}{{ current_user.username }}·心の壁{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/echarts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/optiscroll.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/quizchar_res.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/optiscroll.css') }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div id="statuRow" class="row">
		<div id="statuCol" class="col-md-4">
			<div id="quote">
				<img id="avatar" src="{{ url_for('static', filename='img/avatar/' + user.avatar) }}" class="img-rounded" alt="苏幕遮" />
				<span id="charDivide"></span>
				<span>{{ current_user.username }}</span>
				<hr />
				<blockquote>
					{{ charquote.chardict[user.char_res[0]][0] }}
					<small>
						{{ charquote.chardict[user.char_res[0]][1] }}
						<cite>
							《{{ charquote.chardict[user.char_res[0]][2] }}》
						</cite>
					</small>
				</blockquote>
				<hr />
			</div>
			{% set intr = charquote.chardict[user.char_res[0]][3].split('checkparagraph') %}
			<div id="quoteDiv" class="optiscroll">
				{% for intr_i in range(intr|count) %}
					<p class="charintr">{{ intr[intr_i] }}</p>
				{% endfor %}
			</div>
		</div>
		<div id="chartDiv" class="col-md-8">
			{% block quiz_chart %}
				<div class="article" id="quizChart">chart.</div>
			{% endblock %}
			
		</div>
	</div>
	<hr />
	<div id="actionRow" class="row">
		<a class="buttonBack" id="buttonLeft" href="{{ url_for('main.home') }}"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>退回主页</a>
		<a class="buttonBack" id="buttonRight" href="{{ url_for('auth.userinfo', username = user.username) }}">个人设置<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/js/quizchar_res.js') }}"></script>
<script type="text/javascript">
	var maxRange = 6;
	if ('{{ user.char_value }}' !== '') {
		var dataQuiz = [];
		for (var time_i = 0; time_i < {{ chardata|count }}; time_i++) {
			var chardata_str = {{ chardata }}[time_i][1];
			var chardata_int = [];
			for (var value_i = 0; value_i < chardata_str.length; value_i++) {
				chardata_int.push(parseInt(chardata_str[value_i]));
				if (parseInt(chardata_str[value_i]) > maxRange) {
					maxRange = parseInt(chardata_str[value_i]);
				}
			}
			dataQuiz.push(chardata_int);
		}
	} else {
		var dataQuiz = [0,0,0,0,0,0,0,0];
	}
	
	var myChart = echarts.init(
		document.getElementById('quizChart'),
		'macarons'
	);

	var dataChart = [];
	for (var data_i = 0; data_i < dataQuiz.length; data_i++) {
		dataChart.push(
			{
				name: datetimeTransform({{ chardata }}[data_i][0]),
				value: dataQuiz[data_i]
			}
		)
	}

	var lineStyle = {
	    normal: {
	        width: 1,
	        opacity: 0.5
	    }
	};

	option = {
	    backgroundColor: 'rgba(0,0,0,0)',
	    tooltip: {
	    	trigger: 'axis'
	    },
	    radar: {
	        indicator: [
	            {name: 'R', max: maxRange},
	            {name: 'A', max: maxRange},
	            {name: 'B', max: maxRange},
	            {name: 'M', max: maxRange},
	            {name: 'W', max: maxRange},
	            {name: 'S', max: maxRange},
	            {name: 'U', max: maxRange},
	            {name: 'G', max: maxRange},
	        ],
	        shape: 'circle',
	        splitNumber: 7,
	        name: {
	            textStyle: {
	                color: 'rgba(255, 255, 255, 0.8)'
	            }
	        },
	        splitLine: {
	            lineStyle: {
	                color: [
	                    'rgba(200, 200, 200, 0.05)', 
	                    'rgba(200, 200, 200, 0.10)',
	                    'rgba(200, 200, 200, 0.15)', 
	                    'rgba(200, 200, 200, 0.20)',
	                    'rgba(200, 200, 200, 0.25)', 
	                    'rgba(200, 200, 200, 0.30)',
	                    'rgba(200, 200, 200, 0.35)', 
	                    'rgba(200, 200, 200, 0.02)'
	                ].reverse()
	            }
	        },
	        splitArea: {
	            show: false
	        },
	        axisLine: {
	            lineStyle: {
	                color: 'rgba(100, 100, 100, 0.5)'
	            }
	        }
	    },
	    series: [
	        {
	            name: '无聊测试',
	            type: 'radar',
	            tooltip: {
                	trigger: 'item',
                	textStyle: {
                		align: 'left'
                	}
            	},
	            lineStyle: lineStyle,
	            data: dataChart,
	            symbol: 'none',
	            itemStyle: 
	            {
	                normal: 
	                {
	                    color: 'rgba(255, 255, 255, 1)',
	                }
	            },
	            areaStyle: {
	                normal: {
	                    opacity: 0.1
	                }
	            }
	        }
	    ]
	};
	myChart.setOption(option);
</script>
{% endblock %}
