SECRET_KEY,shirley
SQLALCHEMY_DATABASE_URI_dev,postgresql://postgres:625383@localhost/squan_blog
MAIL_SERVER,smtp.googlemail.com
MAIL_PORT,587
MAIL_USERNAME,HYSkyline@gmail.com
MAIL_PASSWORD,Hjy19940518
FLASKY_MAIL_SUBJECT_PREFIX,[SQuan]
FLASKY_MAIL_SENDER,HYSkyline<HYSkyline@gmail.com>
FLASK_ADMIN_EMAIL,HYSkyline@163.com
CA_KEY,'/squan_blog/static/ssl/squan.crt'
CA_CLIENT,'/squan_blog/static/ssl/squan.key'
UPLOADED_AVATARS_DEST,/squan_blog/static/img/avatar
