html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background-image: url('../static/img/userinfoBackground12.jpg');
}

#examples {
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

#examples svg,
#examples canvas {
  position: absolute;
}

.example-mesh {
  fill: none;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 0.5px;
}

.example-anchor path {
  fill: none;
  pointer-events: all;
}

.example-anchor path:hover {
  stroke: white;
  stroke-width: 4px;
}