<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>learn d3</title>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <style type="text/css">
	    html, body, .container {
	    	padding: 0;
	    	margin: 0;
	    	height: 100%;
	    	width: 100%;
	    	overflow-y: hidden;
	    	background-color: grey;
	    }
    	.avatar {
    		position: fixed;
    	}
    	.avatar:hover {
    		border:#35a5e5 0px solid;
    		box-shadow: 0 0 12px rgba(81, 203, 238, 1);
    		transition: all 0.20s ease-in-out;
    	}
    </style>
</head>
<body>
<div class="container"></div>
<script>
	function getRandom(min, max) {
    	return min + Math.random() * (max - min);
    }

	var userlist = [
        {username: "HYSkyline", avatar: "shirley.jpg"},
        {username: "AX", avatar: "init_avatar.jpg"},
        {username: "Shirley", avatar: "shirley.jpg"}
    ];

	$(document).ready(function () {
		var container = document.getElementsByClassName('container')[0];
		for (var i = 0; i < userlist.length; i++) {
			var avatar = document.createElement('a');
			avatar.setAttribute('class', 'avatar');
			container.appendChild(avatar);
		}
		for (var i = 0; i < userlist.length; i++) {
			var totalHeight = document.body.clientHeight;
    		var totalWidth = document.body.clientWidth;
    		var containerRange = 0.2;
    		var round = getRandom(50, 100).toString();

			$('.avatar:eq(' + i + ')')
				.css({
					top: getRandom(containerRange * totalHeight, (1 - containerRange) * totalHeight) + 'px',
					left: getRandom(containerRange * totalWidth, (1 - containerRange) * totalWidth) + 'px',
					width: round + 'px',
					height: round + 'px',
					borderRadius: (round / 2) + 'px',
					backgroundImage: 'url("../static/img/avatar/' + userlist[i].avatar + '")',
					backgroundSize: round + 'px'
				})
				.attr('herf', userlist[i].username);
		}
	});
</script>
</body>
</html>