<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Styled Map Test</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/lib/js/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/home.css">
    <script type="text/javascript" src="../static/lib/js/homeMap.js"></script>
  </head>
  <body>
  <div class="container-fluid" id="container">
  <div class="row">
  <div class="col-md-9" id="mapFrame">
    <div id="map"></div>
  </div>
  <div class="col-md-3" id="catalogFrame">
    <div id="catalog" class="panel panel-default">
      <div class="panel-heading">
        <img src="../static/img/list/white/100.png" class="listPrefix10" />
        双犬科技基站
      </div>
      <hr />
      <div class="panel-body">
        <img src="../static/img/list/white/2.png" class="listPrefix01" />
        理论篇
      </div>
      <div class="panel-body">
        <img src="../static/img/list/white/2.png" class="listPrefix01" />
        技术篇
      </div>
      <div class="panel-body">
        <img src="../static/img/list/white/2.png" class="listPrefix01" />
        应用篇
      </div>
      <div class="panel-footer">
        <a href="#" class="log">登录</a>
        <a href="#" class="log">注册</a>
      </div>
    </div>
  </div>
  </div>
  </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0E4PXo_E_p7wsE2kYsxxkm6wzPu9bd7o&callback=initMap" async defer></script>
  </body>
  <script type="text/javascript">
  	document.body.onload = initMap()
  </script>
</html>