{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/lib/css/secret.css">
{% endblock %}
{% block title %}双犬·雪涌{% endblock %}

{% block page_content %}
<div class="container">
	<div id="handwriting">
		<h4>致访客：</h4>
		<p>首先，恭喜阁下找到了唯一的惊喜。</p>
		<p>但是结果可能会令你失望，这里什么都没有。</p>
		<p>什么都没有。</p>
		<p>连我自己也找不到，任何可以放到这里的事，或任何可以放到这里的人。</p>
		<p>所以当完成全部工作后，反而更加失望。</p>
		<br />
		<p>其实有一个很简单的方法可以做出解答。</p>
		<p>“但是这里空白太小，写不下了”</p>
		<p>这样的情形还会持续很久很久。</p>
		<p>久到习以为常，就像现在这样。</p>
		<br />
		<p>我不知阁下如何发现这个地址，亦不知阁下为何而来。</p>
		<p>但是我想说的是，快放下手机离开电脑，快去拥抱你所爱的人。</p>
		<p>是的，你第一个想起来的那个人。</p>
		<p>人间风月三十年，尘归尘，土归土。</p>
		<p>这一生一世，恨时间太短，相爱的时光错过片刻都会成为惋惜。</p>
		<p>寒江百年难为渡，劝君怜取眼前人。</p>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="footer">
			<img src="{{ url_for('static', filename='img/signature.png') }}" id="signature" />
			<p id="footer_txt">2017年8月12日 はねだくうこう&#12288</p>
		</div>
	</div>
</div>
{% endblock %}
