{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/secret.css') }}">
{% endblock %}
{% block title %}双犬·雪涌{% endblock %}

{% block page_content %}
<div class="container">
	<div id="handwriting">
		<h4>致访客：</h4>
		<p>首先，恭喜阁下找到了唯一的惊喜。</p>
		<p>但是结果可能会令你失望，这里什么都没有。</p>
		<p>什么都没有。</p>
		<p>连我自己也寻不出，任何可以放到这里的事，或任何可以放到这里的人。</p>
		<p>我的时间已经不多了。</p>
		<p>当全部工作完成后，更加失望。</p>
		<br />
		<p>其实有一个很简单的方法可以做出解答。</p>
		<p>而相比于一个解答，更期待的是一个微笑。</p>
		<p>这样的情形还会持续很久很久。</p>
		<p>久到习以为常，就像现在这样。</p>
		<br />
		<p>且不谈{{ current_user.username }}这个随便就可以注册的账号。</p>
		<p>我不知阁下是谁，且不知阁下如何来到这里，亦不知阁下为何而来。</p>
		<p>但是我想说的是，放下手机，离开电脑，去拥抱你所爱的人吧。</p>
		<p>是的，你第一个想起来的那个人。</p>
		<p>人间风月三十年，尘归尘，土归土。</p>
		<p>这一生一世，恨时间太短。相爱的时光错过片刻都会成为惋惜，不要让莫名其妙的矜持毁掉你应得的幸福。</p>
		<p>寒江夜雨难为渡，劝君怜取眼前人。</p>
		<br />
		<br />
		<p>p.s.:</p>
		<p>如果你是通过PC来到这里，可以听到背景的音乐。</p>
		<p>这首曲子来自林海的专辑《琵琶相》。</p>
		<p>刚进入大学的时候，几乎每晚都会听他的作品，可以很平稳地睡下。</p>
		<p>我很喜欢这样舒缓平和的氛围，可惜总不能如愿。</p>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="footer">
			<img src="{{ url_for('static', filename='img/signature.png') }}" id="signature" />
			<p id="footer_txt">2017年9月6日 中国·上海·杨浦&#12288</p>
            <audio src="{{ url_for('static', filename='audio/弄云.mp3') }}" autoplay="autoplay">test audio</audio>
		</div>
	</div>
</div>
{% endblock %}
