{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/lib/css/login.css">
{% endblock %}
{% block title %}双犬·云中{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<form action="" method="post" class="form" role="form">
			<div class="col-md-8" id="loginFrame">
				<div class="loginContent">
					{{ form.hidden_tag() }}
					{{ wtf.form_field(form.username) }}
					{{ wtf.form_field(form.password) }}
					{{ wtf.form_field(form.remember_me) }}
					{{ wtf.form_field(form.submit) }}
					<a href="{{ url_for('auth.register') }}" class="submitButton">注册</a>
					<a href="{{ url_for('main.home') }}" class="submitButton">退回主页</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}