{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/userlist.css') }}">
{% endblock %}
{% block title %}海清{% endblock %}

{% block page_content %}
<canvas id="userCanvas"></canvas>
<script type="text/javascript">
	var userlist = [];
	{% for each in userlist %}
	userlist.push({
		'username': "{{ each['username'] }}",
		'avatar': "{{ each['avatar'] }}",
		'userinfo': "{{ url_for('auth.userinfo', username = each['username']) }}"
	});
	{% endfor %}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/userlist.js') }}"></script>
{% endblock %}