{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='lib/js/echarts.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/userinfo.css') }}">
{% endblock %}
{% block title %}初度·{{ current_user.username }}{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<img id="avatar" src="{{ url_for('static', filename='img/avatar/' + user.avatar) }}" class="img-rounded" alt="苏幕遮" />
		</div>
		<div class="col-md-4">
			<!-- 姓名抬头 -->
			<div class="row" id="nameRow">
				{% if current_user.username == user.username %}
					<div class="col-xs-9" id="nameInfo">
						<div>
							{% if user.prefix == True %}
						    	<h2>[{{ quiz.quiz_rec }}]{{ user.username }}</h2>
						    {% else %}
						    	<h2>{{ user.username }}</h2>
						    {% endif %}
						</div>
					</div>
					<div class="col-xs-3" id="editbtnrow">
						<a href="{{ url_for('.infoedit') }}" id="editinfo" class="btn btn-default" role="button">编辑</a>
					</div>
				{% else %}
					<div class="col-xs-12" id="nameInfo">
						<div>
							{% if user.prefix == True %}
						    	<h2>[{{ quiz.quiz_rec }}]{{ user.username }}</h2>
						    {% else %}
						    	<h2>{{ user.username }}</h2>
						    {% endif %}
						</div>
					</div>
				{% endif %}
			</div>
			<hr />
			<!-- 主要信息 -->
			<div class="row" id="mainInfo">
				<div class="col-md-12">
					{% block userintr%}
						<p>
							<img src="{{ url_for('static', filename='img/list/white/1.png') }}" class="listPrefix01" />
							{{ user.birthdate }}
						</p>
						<p>
							<img src="{{ url_for('static', filename='img/list/white/1.png') }}" class="listPrefix01" />
							{{ user.intr }}
						</p>
					{% endblock %}
				</div>
			</div>
			<!-- 测试图表 -->
			<div class="row">
				{% block quiz_chart %}
					<div class="article" id="quizChart">chart.</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>没想好写什么</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	var myChart = echarts.init(
		document.getElementById('quizChart'),
		'macarons'
	);
	var dataQuiz = [
	    [
	    	{{ quiz.r_score }},
	    	{{ quiz.a_score }},
	    	{{ quiz.b_score }},
	    	{{ quiz.m_score }},
	    	{{ quiz.w_score }},
	    	{{ quiz.s_score }},
	    	{{ quiz.u_score }},
	    	{{ quiz.g_score }},
	    ]
	];

	var lineStyle = {
	    normal: {
	        width: 1,
	        opacity: 0.5
	    }
	};

	option = {
	    backgroundColor: 'rgba(0,0,0,0)',
	    tooltip: {
	    	trigger: 'axis'
	    },
	    radar: {
	        indicator: [
	            {name: 'R', max: 10},
	            {name: 'A', max: 10},
	            {name: 'B', max: 10},
	            {name: 'M', max: 10},
	            {name: 'W', max: 10},
	            {name: 'S', max: 10},
	            {name: 'U', max: 10},
	            {name: 'G', max: 10},
	        ],
	        shape: 'circle',
	        splitNumber: 7,
	        name: {
	            textStyle: {
	                color: 'rgb(100, 100, 100)'
	            }
	        },
	        splitLine: {
	            lineStyle: {
	                color: [
	                    'rgba(200, 200, 200, 0.05)', 
	                    'rgba(200, 200, 200, 0.10)',
	                    'rgba(200, 200, 200, 0.15)', 
	                    'rgba(200, 200, 200, 0.20)',
	                    'rgba(200, 200, 200, 0.25)', 
	                    'rgba(200, 200, 200, 0.30)',
	                    'rgba(200, 200, 200, 0.35)', 
	                    'rgba(200, 200, 200, 0.40)'
	                ].reverse()
	            }
	        },
	        splitArea: {
	            show: false
	        },
	        axisLine: {
	            lineStyle: {
	                color: 'rgba(100, 100, 100, 0.5)'
	            }
	        }
	    },
	    series: [
	        {
	            name: '无聊测试',
	            type: 'radar',
	            tooltip: {
                	trigger: 'item'
            	},
	            lineStyle: lineStyle,
	            data: dataQuiz,
	            symbol: 'none',
	            itemStyle: {
	                normal: {
	                    color: 'rgba(255, 255, 255, 1)'
	                }
	            },
	            areaStyle: {
	                normal: {
	                    opacity: 0.1
	                }
	            }
	        }
	    ]
	};
	myChart.setOption(option);
</script>
<script type="text/javascript">
	document.getElementById('quizChart').onclick = function () {
		window.location.href="{{ url_for('quiz.quizID', username=current_user.username, projectname='char') }}";
	}
</script>
{% endblock %}
