<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>userlist</title>
	<style type="text/css">
		html {
			background-color: grey;
		}
		canvas {
			background-color: transparent;
		}
	</style>
</head>
<body>
<canvas id="userCanvas" width="1000" height="800"></canvas>
<script type="text/javascript">
	var userlist = [
        {username: "HYSkyline", avatar: "shirley.jpg"},
        {username: "AX", avatar: "init_avatar.jpg"},
        {username: "Shirley", avatar: "shirley.jpg"}
    ];
</script>
<script type="text/javascript">
	var imageList = [];
	for (var i = userlist.length - 1; i >= 0; i--) {
		imageList.push(addImage(userlist[i]));
	}

	function addImage(user) {
		var userImage = document.createElement('img');
		userImage.setAttribute('id', user.username);
		userImage.setAttribute('src', '../../static/img/avatar/' + userlist[i].avatar + '');
		return userImage;
	}

	function polygon(ctx, x, y, radius, sides, startAngle, anticlockwise, img, imgX, imgY) {
		if (sides < 3) return;
		var a = (Math.PI * 2) / sides;
		a = anticlockwise? -a: a;
		ctx.save();
		
		ctx.translate(x, y);
		ctx.rotate(startAngle);  
		ctx.beginPath();
		ctx.moveTo(0, radius);
		for (var i = 1; i < sides; i++) {
			ctx.lineTo(radius * Math.sin(a * i), radius * Math.cos(a * i));
		}
		ctx.closePath();

		ctx.lineWidth = 5;
		ctx.strokeStyle = 'white';
		ctx.stroke();

		ctx.clip();

		ctx.drawImage(img, imgX, imgY);
		ctx.restore();
	}

	// Grab the Canvas and Drawing Context
	var canvas = document.getElementById('userCanvas');
	var ctx = canvas.getContext('2d');

	// When the image is loaded, draw it
	var cnt = 0;
	for (i = 0; i < userlist.length; i++) {
		imageList[i].onload = function () {
			cnt++;
		}
	}
	if (cnt === userlist.length) {
		for (i = 0; i < userlist.length; i++) {
			polygon(ctx, 90 + 180 * i, 120, 100, 6, 0, 0, imageList[i], 0, 0);
		}
	}
</script>
</body>
</html>