{% extends "auth/userview.html" %}

{% block title %}西顾·{{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
	{% if user.prefix == True %}
    	<h4>Hola! [{{ quiz.quiz_rec }}]{{ user.username }}</h4>
    {% else %}
    	<h4>Hola! {{ user.username }}</h4>
    {% endif %}
    <!-- <p>birthdate: {{ user.birthdate }}</p> -->
    <p>{{ user.intr }}</p>
</div>
<div class="article" id="quizChart" style="width: 500px; height: 500px;">
	quiz result charts.
</div>
{% block quiz_chart %}
{{ super() }}
{% endblock %}
{% endblock %}
